body { 
    max-width:540px;
    min-width:320px;
    margin:0 auto;
    font:normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color:#000;
    overflow-x:hidden;
    -webkit-tap-highlight-color:transparent;
}
body::-webkit-scrollbar { width: 0 !important } /*既隐藏滚动条又保留滚动效果*/

div{
    box-sizing:border-box;
}

/*搜索模块*/
.search-index{
    background-color: #fff;
    display:flex;
    position:fixed;
    top:0;
    left:50%;
    -webkit-transform:translateX(-50%); /*兼容*/
    transform:translateX(-50%);
    width:100%;  /*固定的盒子需要设置宽度*/
    height:50px;
    min-width:320px;
    max-width:540px;
    z-index: 100;
}
.search{
    height:26px;
    border:1px solid #ccc;
    flex:1;
    margin:12px 15px 4px 15px;
    border-radius:5px;
    color:rgb(190,194,201);
    font-size:12px;
    line-height:26px;  /*line-height = height - border*2 */
    background-color:rgb(239,241,244);
    /*box-shadow:0 2px 4px rgba(0,0,0,.2);*/
}
.search i{
    margin:0 5px;
}
.search span{
    margin:0 5px;
}

.check{
    margin-left:10px;
    margin-right:10px;
    width: 60px;
    height:50px;
    background-color:#fff;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
    color:rgb(127,133,144);
}
.check span{
    font-size:16px;
}

html {
	overflow-x: hidden;
}

.container {
    min-width:320px;
    max-width:540px;
    width:100%;
    position:fixed;
    margin-top:50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
    display:flex;
    flex-direction: row;
    z-index: 100;
    background-color: #fff;
}
.container .omiter{
    position:relative;
    height:50px;
    line-height: 50px;
    margin:0 8px;

}

.nav {
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	/*解决ios上滑动不流畅*/
	-webkit-overflow-scrolling: touch;
    margin-left:13px;

}

.con {
	width: 190%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	border-bottom: 7px rgb(239,241,244) solid;
}

.con>a {
	text-align: center;
	width: auto;
	color: rgb(127,133,144);
	display: inline-block;
	margin: 0 auto;
	font-size: 18px;
}

.con>a.active {
	border-bottom: 2px rgb(67, 138, 246) solid;
	color: rgb(67, 138, 246);
}


.container ::-webkit-scrollbar {
	display: none;
}

/*中间内容块*/

.timeline-content{
    width: 100%;
    top:100px;
    position: relative;
}
.timeline-content-list{
    width: 100%;
    background-color: #fff;
    position: relative;
}
.item{
    transition: all .3s ease-in;
}
.advertisement{
    position: relative;
    cursor: pointer;
    padding: 12px 20px 0;
}
.advertisement .meta-container {
    display: flex;
    align-items: center;
}
.advertisement .user-message{
    display: flex;
    align-items: center;
}
.advertisement .user-message .userbox{
    max-width: 162px;
    font-size: 13px;
    line-height: 22px;
    color: #4e5969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.popver-box{
    display:inline;
}
.advertisement .main{
    margin-top: 6px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    border-bottom: 1px solid #e5e6eb;
}
.advertisement .meta-container .dividing {
    width: 1px;
    height: 14px;
    background: #e5e6eb;
    margin: 0 8px;
}
.advertisement .meta-container .date {
    line-height: 22px;
    font-size: 13px;
    color: #86909c;
}
.advertisement .tag {
    position: absolute;
    top: 12px;
    right: 20px;
    border: 1px solid #c9cdd4;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 18px;
    width: 42px;
    text-align: center;
    color: #c9cdd4;
    font-size: 13px;
}
.advertisement .main .info-box {
    flex-grow: 1;
}
.advertisement .main .info-box .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1d2129;
    margin-bottom: 8px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.advertisement .main .info-box .description{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #86909c;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.advertisement .main .thumb {
    margin-left: 12px;
}
.advertisement .main img{
    width:120px;
    height:80px;
}
.lazy:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    border-radius: inherit;
}


/*博文块*/
li {
    list-style: none;
}
.item{
    transition: all .3s ease-in;
}
.entry {
    cursor: pointer;
    position: relative;
    background: #fff;
    padding: 12px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.tag_list {
    display: flex;
    align-items: center;
}
.tag_list .tag{
    position: relative;
    flex-shrink: 0;
    font-size: 13px;
    line-
    height: 22px;
    padding: 0 8px;
    color: #86909c;
}
.meta-container {
    color: #86909c;
    display: flex;
    align-items: center;
}
.meta-container .user-message{
    display: flex;
    align-items: center;
    margin-right: 8px;
    max-width: 162px;
    font-size: 13px;
    line-height: 22px;
    color: #4e5969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.meta-container .dividing {
    width: 1px;
    height: 14px;
    background: #e5e6eb;
    margin: 0 1px;
}
.meta-container .date {
    position: relative;
    padding: 0 10px;
    line-height: 22px;
    font-size: 13px;
    flex-shrink: 0;
}

.popover-box {
    display: inline;
}
.entry .dislike-button {
    display: block;
}
.entry .dislike-button{
    position: absolute;
    top: 1.333rem;
    right: 1.667rem;
    transition: all .15s linear;
}

.thumb {
    flex: 0 0 auto;
    width: 120px;
    height: 80px;
    margin-left: 24px;
    background-color: #fff;
    border-radius: 2px;
}
.content-wrapper {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e6eb;
    margin-top: 10px;
    width: 100%;
}
.content-wrapper .content-main {
    flex: 1 1 auto;
}
.lazy {
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
}
.title-row {
    display: flex;
    margin-bottom: 8px;
}
.abstract {
    margin-bottom: 10px;
}
.abstract a {
    color: #86909c;
    font-size: 13px;
    line-height: 22px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1d2129;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.popover-box[data-v-76abb21e] {
    display: inline;
}
.meta-container .user-message {
    display: flex;
    align-items: center;
    margin-right: 8px;
    max-width: 162px;
    font-size: 13px;
    line-height: 22px;
    color: #4e5969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.action-list{
    display: flex;
    align-items: center;
}
.action-list>.item {
    position: relative;
    margin-right: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #4e5969;
    flex-shrink: 0;
}
.action-list>.item {
    margin-left: 4px;
}


/*底部菜单栏*/
.tabbar {
    position: fixed;
    border-top:1px rgb(239,241,244) solid;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabbar .tabbar-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5px;
    color: rgb(127,133,144);
    font-size: 13px;
    line-height: 12px;
}


/*Font Awesome 6 Free
  Font Awesome 5 Free
  Font Awesome 5 Brands
  FontAwesome */